*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: 0;
}

@import "partials/_colors";
@import "partials/_header";
@import "partials/_layout";

body{
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;

    background-color: $primaria-normal;
    
}

button{
    font-family: 'sora', sans-serif;
    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}